@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --font-family2:'Fraunces', serif;
    --soft-red:hsl(7, 99%, 70%);
    --yellow:hsl(51, 100%, 49%);
    --dark-desaturated-cyan:hsl(167, 40%, 24%);
    --dark-blue:hsl(167, 40%, 24%);
    --dark-modarate-cyan:hsl(168, 34%, 41%);
    --Verydark-desaturated-blue:hsl(212, 27%, 19%);
    --Verydark-grayish-blue:hsl(213, 9%, 39%);
    --Darkgrayish-blue:hsl(232, 10%, 55%);
    --Graysh-blue:hsl(210, 4%, 67%);
    --Whit:hsl(0, 0%, 100%);
}
body{
    background-color: var(--Whit);
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}
.container{
    padding: 0 1em;
    margin: 0 auto;
    max-width: 1200px;
}
.section-page-top{
    width: 100%;
    min-height:75vh;
    background-image: url("../../images/mobile/image-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header-page-top{
    width: 100%;
    height:77px;
    position:fixed;
    padding-top:0.7em;
    top: 0;
    left: 0;
    z-index: 2;
}
.header-page-top .header-nav-top{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav-top .header-logo .logo{
    height: 100%;
}
.header-nav-top .header-menu{
    width: 90%;
    height: auto;
    background: var(--Whit);
    position: fixed;
    top:105px;
    left: 50%;
    transform: translate(-50%);
    padding: 2em 2em 2em 2em;
    display: none;
}
.header-menu.active{
    display: block;
}
.header-menu::before{
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    top: -1.3em;
    right: 0;
    background: var(--Whit);
}
.header-menu .list-items .item-list{
    list-style: none;
    width: 100%;
    text-align: center;
}
.item-list .link-item{
    width: 100%;
    line-height: 50px;
    text-transform: capitalize;
    font-size: 20px;
    color: var(--Verydark-grayish-blue);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0.9em 0;
}
.item-list .link-item.active{
    padding:5px;
    max-width:170px;
    margin: 0 auto;
    background-color: var(--yellow);
    color: #010101;
    border-radius: 35px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: var(--font-family2);
}
.header-nav-top .icon-menu-mobile{
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: block;
    text-align: center;
    cursor: pointer;
}
.hero-header-content{
    min-height: 77vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-header-content .hero-content{
    text-align: center;
    display: block;
    color: var(--Whit);
}
.hero-content .hero-header-title .title{
    font-size: 2.4em;
    letter-spacing:5px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-family: var(--font-family2);
    font-weight: 900;
    margin-bottom: 1.5em;
}